{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block title %}
  <!-- Custom head details goes here -->
  <title>Expense Tracker</title>

  <!-- Custom head details ends here -->
  {% endblock title %}
  <link rel="stylesheet" href="{% static 'tracker/styles.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'tracker/style.css' %}" type="text/css" />
  {% block styles %}
  <!-- Styles goes here -->

  <!-- Styles ends here -->
  {% endblock styles %}
</head>

<body>
  <nav class="shadow-lg p-3">
    <div class="container h-12 flex flex-wrap justify-between items-center mx-auto">
      <a href="#" class="flex">
        <img class="h-10 mr-3" src="{% static 'tracker/images/expense.png' %}" />
        <span class="self-center text-xl font-bold text-gray-700">Expense Tracker</span> 
      </a>
    </div>
  </nav>


  {% block body %}
  <!-- Body starts here -->

  <!-- Body ends here -->
  {% endblock body %}

  {% block scripts %}
  <!-- Script goes here -->

  <!-- Script ends here -->
  {% endblock scripts %}
</body>

</html>