{% extends "tracker/base.html" %}
<!-- Body starts here. -->
{% block body %}
<div class="w-2/3 h-[700px] mt-10 m-auto bg-gray-100 p-5 rounded-xl">
  <h2 class="text-xl font-bold text-gray-600 text-center">💰 Expense Details</h2>
  <form action="" method="post" class="shadow-lg m-10 p-3 rounded-lg bg-gray-200">
    {% csrf_token %}
    <div class="form container px-5 py-5 flex">
      <div class="mb-3 mx-10">
        <div class="mr-3 mb-3 text-lg font-semibold">
          <label for="id_name">Expense Name</label>
        </div>
        <div>{{ form.name }}</div>
      </div>
      <div class="mb-3 mx-10">
        <div class="mr-3 mb-3 text-lg font-semibold">
          <label for="id_amount">Cost</label>
        </div>
        <div>{{ form.amount }}</div>
      </div>
      <div class="mb-3 mx-10">
        <div class="mr-3 mb-3 text-lg font-semibold">
          <label for="id_category">Category</label>
        </div>
        <div>{{ form.category }}</div>
      </div>
      <div class="mx-10">
        <input
          class="bg-green-600 px-3 py-2 mt-7 rounded-md text-white font-bold"
          type="submit"
          value="Submit"
        />
      </div>
    </div>
    <div class="error container text-red-500 px-8">
      {% if form.errors %} {% for field in form %} {% for error in field.errors %}
      <p class="text-red-500 text-base">{{ error }}</p>
      {% endfor %} {% endfor %} {% endif %}
    </div>
  </form>
</div>
<!-- Body ends here. -->
{% endblock body %}
