{% extends "tracker/base.html" %}
<!-- Example of using super in template inheritance -->
{% block title %} {{ block.super }} {% endblock title %}
<!-- End of Example -->

<!-- Body starts here -->
{% block body %}
<div class="w-2/3 h-[700px] mt-10 m-auto bg-gray-100 p-5 rounded-xl">
  <h2 class="text-xl font-bold text-gray-600 text-center">💰 Add Expense ➕</h2>
  <form action="" method="post" class="shadow-lg m-10 p-3 rounded-lg bg-gray-200">
    {% csrf_token %}
    <div class="form container px-5 py-5 flex">
      <div class="mb-3 mx-10">
        <div class="mr-3 mb-3 text-lg font-semibold">
          <label for="id_name">Expense Name</label>
        </div>
        <div> {{ form.name }} </div>
      </div>
      <div class="mb-3 mx-10">
        <div class="mr-3 mb-3 text-lg font-semibold">
          <label for="id_amount">Cost</label>
        </div>
        <div>
          {{ form.amount }}
        </div>
      </div>
      <div class="mb-3 mx-10">
        <div class="mr-3 mb-3 text-lg font-semibold">
          <label for="id_category">Category</label>
        </div>
        <div>
          {{ form.category }}
        </div>
      </div>
      <div class="mx-10"><input class="bg-green-600 px-3 py-2 mt-7 rounded-md text-white font-bold" type="submit"
               value="Submit" /></div>
    </div>
    <div class="error container text-red-500 px-8">
      {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <p class="text-red-500 text-base">{{ error }}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}
    </div>

  </form>

</div>
<div class="h-5 w-2/3 m-auto"></div>
<div class="w-2/3 m-auto bg-gray-100 p-10 rounded-xl">

  <div>
    <h3 class="text-2xl text-gray-700 font-semibold text-center mb-4">Expenses</h3>
  </div>
  <div class="shadow-lg rounded-lg px-7 bg-gray-200">
    <div class="expense-header flex flex-wrap px-20 py-3">
      <span>Name</span>
      <span>Amount</span>
      <span>Category</span>
      <span>Date</span>
      <span>Edit</span>
      <span>Delete</span>
    </div>
    <hr class="bg-black w-full h-0.5">
    {% for expense in expenses %}
    <div class="expense-row flex flex-wrap px-20 py-3">
      <span class="font-semibold">{{ expense.name }}</span>
      <span class="font-semibold">{{ expense.amount }}</span>
      <span class="font-semibold">{{ expense.category }}</span>
      <span class="font-semibold">{{ expense.date }}</span>
      <span class="font-semibold">
        <a class="bg-yellow-700 px-4 py-2 rounded-md text-white text-sm font-bold"
           href="{% url 'edit' expense.id %}">Edit</a>
      </span>
      <span class="font-semibold">
        <form action="{% url 'delete' expense.id %}" method="post">
          {% csrf_token %}
          <input class="bg-red-600 px-2 py-2 rounded-md text-white text-sm font-bold"
           type="submit" value="Delete" name="delete" />
        </form>
      </span>
    </div>
    {% endfor %}
  </div>
</div>

<!-- body ends here -->
{% endblock body %}